body {
  background-color: #dee9ff !important;
}

.calculator .form, .calculator .resultado {
  max-width: 850px;
}

.calculator .form-icon {
  width: 100px;
  height: 100px;
  line-height: 100px;
}

@media (max-width: 576px) {
  .calculator .form-icon {
      width: 70px;
      height: 70px;
      font-size: 30px;
      line-height: 70px;
  }
}